/* ------------General style---------- */
:root {
    --bColor: #ffffff !important;
    --aColor: #2079c7;
}
body {
    font-family: 'Varela Round', sans-serif;
    color: rgb(70, 70, 70);
    background-color: var(--bColor);
    line-height: 1.2rem;
    overflow-x: hidden;
}
main h3, main h4, main h5, .hcolumn2 h3 {
    margin: 0%;
    margin-top: 0.2rem;
    font-weight: bold;
}
h3, .fas, .fab, .far {
    color: var(--aColor);
}
a, a:active {
    text-decoration: none !important;  
    color: rgb(70, 70, 70);
}
/* ------------Header style---------- */
header {
    width: 80vw;
    margin-top: 1rem;
}
    .hcolumn1 {
        flex: 1;
    }
    .hcolumn2 {
        flex: 5;
    }
    header img {
        width: 9vw;
        margin-right: 1rem;
        box-shadow: 
        0 2px 5px 0 rgba(0,0,0,.16),
        0 2px 10px 0 rgba(0,0,0,.12);
    }
    header li{
        cursor: pointer;
        list-style: none inside;
        line-height: 1.8rem;
    }
/* ------------Contact form style---------- */
.fBtn {
    top: 4vh;
    right: 3vw;
    cursor: pointer;
}
.fBtn:hover{
    animation: 0.9s shake;
}
.fWrapper {
    display: none;
    z-index: 4000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
    .fContent  {
        top: -90vh;
        left: 30vw;
        width: 40vw;
        height: 80vh;
        background-color: rgb(240, 240, 240);
        z-index: 5000;
        animation: drop 0.4s ease-out 0.3s 1 forwards;
    }
    input[type="text"], input[type="email"], textarea {
        border: none;
        width: 93%;
        margin: 0.2rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0.4rem;
        border-radius: 5px;
    }
     textarea {
        height: 30vh;
        border-radius: 5px;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .sbtn{
        border: none;
        background-color: var(--aColor);
        color: rgb(236, 236, 236);
        appearance: none;
    }
    input:focus, textarea:focus {
        border: 0;
        outline:none;
    }
    ::placeholder{
        font-size: 0.7rem;
        color: rgb(32, 121, 199);
    }
/* ------------Nav style---------- */   
nav {
    width: 80vw;
    background-color: var(--bColor);
    border-bottom: 0.2rem solid rgb(172, 172, 172);
}
    nav a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1rem;
    }
    nav a:hover, header li:hover, header a:hover{
        font-weight: bold;
        color: black;
    }
    .active {
        color: rgb(32, 121, 199) !important;
        font-weight: 600;
    }
    .tnav{
        background-color: #a8a8a8;
        display: none;
    }
/* ------------Main content style---------- */
main {
    width: 80vw;
    min-height: 50vh;
    font-size: 0.9rem;
}    
    #mcolumn1{
        flex: 7;
    }
    #mcolumn2{
        flex: 5;
    }
    main div {
        margin-bottom: 1rem;
    }
    main section {
        margin-bottom: 1.8rem;
    }
    .slideR{
        animation: trans 0.6s ease-in 1 forwards;
    }
    main h2 {
        text-transform: uppercase;
        color: rgb(70, 70, 70);
        border-left: 0.17rem solid  rgb(133, 133, 133);
        padding-left: 0.3rem;
        margin-bottom: .8rem;
        font-size: 1.4rem;
        font-weight: bold;
    }
    main h3{
        font-size: 1.1rem;
    }
    main h4{
        font-size: 0.85rem;
    }
    main ul {
        padding: 0%;
        margin: 0%;
        margin-top: 0.5rem;
        list-style: none inside;
    }
    main p{
        margin: 0%;
        margin-top: 0.5rem;
    }
/* ------------Footer style---------- */ 
footer {
    min-height: 10vh;
    background-color: #a8a8a8;
} 
 /* ------------keyframes---------- */
@keyframes shake {
    10%, 90% {transform: translate3d(0, -1px, 0);}
    20%, 80% {transform: translate3d(0, 2px, 0);}
    30%, 50%, 70% {transform: translate3d(0, -4px, 0);}
    40%, 60% {transform: translate3d(0, 4px, 0);}
}
@keyframes drop {
    0% {top: -90vh; opacity: 0;}  
    100% {top: 8vh; opacity: 1;}
}
@keyframes trans {
    0% {transform: translate(-100vw,0); opacity: 0;}  
    100% {transform: translate(0,0); opacity: 1;}
}
  /* ------------Media querys---------- */
@media all and (max-width: 890px) {
    header, nav, main{
        width: 90vw;
    }
    header {
    flex-direction: column;
    margin-top: 4rem;
    }
    header div, header .himg{
        margin-right: auto;
        margin-left: auto;
    }
    header .himg{
        display: block;
        border-radius: 90px !important;
        width: 15vh;
        margin-bottom: 0.7rem;
    }
    .hcolumn2{
        text-align: center;
    }
    .hcolumn2 p{
        width: 100% !important;
    }
    .hcolumn3{
        display: none;
    }
    .fBtn{
        display: none !important;
    }
    .fContent{
        width: 80vw;
        left: 10vw;
    }
    .tnav{
        display: flex;
    }
    nav {
        position: initial !important;
    }
    nav a span{
        display: none;
    }
}

@media all and (max-width: 703px) {
    nav{
        padding: 0px !important;
    }
    nav a{
        display: none !important;
    }
    main {
        flex-direction: column;
    }
    .hcolumn2 .d-flex{
        width: 90%;
    }
    .hcolumn2, .hcolumn1 {
        width: 100%;
    }
    footer .d-flex{
        flex-direction: column;
    }
} 